ul {
  list-style: none;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

ul li ~ li {
  margin-top: 10px;
}

ul li {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  align-items: center;
}

ul li:nth-child(odd) {
  background: #ccc;
}
ul li span {
  margin-right: 20px;
}

button {
  /* border: 1px solid #105f58; */
  border: none;
  outline: none;
  font-size: 15px;
  color: white;
  background: #23b5a8;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

button.delete {
  background: #c64c1d;
}

button.disabled {
  background: #ccc;
  cursor: initial;
}

.product-list,
.cart {
  width: 50%;
}
